.profile_content{
    display: grid;
    grid-template-columns: 1fr 2.2fr;
    grid-template-areas:
            "pl pr";
}
.content_block_size{
    margin: 16px 6px 6px 6px;
    border-radius: 6px;
    background-color: white;
}
.profile_left{
    grid-area: pl;
}
.profile_photo{
    display: flex;
    flex-direction: column;
    padding: 14px;
}
.photo_item{
    margin: 0 auto;
    width: 207px;
    height: 207px;

}
.photo_item_img img{
    margin: 0 auto;
    width: 207px;
    height: 207px;
    background-color: #edeef0;
    border: 0px solid white;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.input_file{
    display: none;
}
.photo_edit_btn_div{
    display: flex;
    justify-content: center;
}
.photo_edit_btn{
    background-color: #dfe6ed;
    text-align: center;
    outline: none;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 205px;
    border-radius: 5px;
    border: 0px;
    margin: 14px auto 0px auto;
}
.photo_edit_btn:hover{
    cursor: pointer;
    background-color: lightgrey;
}
.profile_right{
    grid-area: pr;
}
.profile_data{
    padding: 14px;
}
.data_header p{
    padding: 0;
    margin: 0;
}
.data_header p:first-child{
    font-size: 20px;
}
