.peoples_content{
    grid-area: ht;
    display: grid;
    grid-template-columns: auto 2fr;
    grid-template-areas:
            "plc prc";
}
.peoples_left_content{
    grid-area: plc;
    background-color: cyan;
    padding: 14px;
    width: 490px;
}
.peoples_right_content{
    grid-area: prc;
    background-color: red;
    padding: 14px;
}
.selected {
    color: white;
    background-color: #2787f5;
    padding-left: 0;
    border-left: 2px solid black;

    margin-left: 1px;
}
select {
    overflow-y: auto;
    border: none;
    outline: none;
    width: 100%;
}
select option {
    margin: 1px 0px;
    padding: 5px 0 0 3px;
    font-size: 17px;
}
select option:hover {
    background-color: #2787f5;
    cursor: pointer;
}
select option:checked {
    background-color: #2787f5;
}
.content_block_size{
    margin: 16px 6px 6px 6px;
    border-radius: 6px;
    background-color: white;
}
.content_block_size_right{
    margin: 16px 0px 6px 6px;
    border-radius: 6px;
    background-color: white;
}
.toggle_peoples_container{
    grid-area: tpc;
    background-color: darkblue;
}

