.nav_wrapper{
    background-color: green;
    grid-area: nw;
}
.logo img{
    width: 80px;
    height: 80px;
    background-color: orange;
}
.nav_wrapper nav ul{
    margin: 0;
    padding: 0;
}
.nav_wrapper nav ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 36px 0;
}
.nav_wrapper nav ul li a{
    text-decoration: none;
}
.nav_wrapper nav ul li a svg{
    color: grey;
    transition: 0.4s cubic-bezier(0, 0, 1, 1) 100ms;
}
.nav_wrapper nav ul li a svg:hover{
    color: #8224e3;
}

.active {
    color: #8224e3;
}
.nav_wrapper nav ul li:first-child{
    margin: 36px 0 36px 0;
}