.photo_collection{
    display: flex;
    align-items: center;
    margin-left: 200px;
}
.photo_collection a{
    margin: 0;
    padding: 0;
    width: 64px;
    height: 64px;
    background-color: grey;
    border-radius: 20px;
}
.photo_collection a:hover{
    background-color: red;
}
.photo_collection a:not(:last-child){
    margin-right: 10px;
}