.content_header_top{
    display: grid;
    grid-template-rows: 275px 100px;
    grid-template-columns: 1fr;
    grid-template-areas:
            "ch"
            "cp";
    grid-area: cht;
}

.content_header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    grid-area: ch;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Panorama_Teide_BW.jpg/1536px-Panorama_Teide_BW.jpg") top center no-repeat;
}
.content_photo{
    display: flex;
    align-items: center;
    z-index: -1;
    grid-area: cp;
    background-color: cyan;
    border-bottom: 1px solid grey;
}
.profile_photo{
    margin: 0 0 -40px 98px;
    padding: 0;
    z-index: 0;
    width: 210px;
    height: 210px;
    background-color: orange;
    border: 5px solid white;
    border-radius: 30px;
    transition: 0.2s cubic-bezier(0, 0, 1, 1) 100ms;
}
.profile_photo:hover{
    width: 220px;
    height: 220px;
}
.settings{
    margin-bottom: 20px;
}
.settings a{
    margin-right: 30px;
    text-decoration: none;
    padding:12px 40px;
    background-color: #FFFFFF33;
    border-radius: 30px;
    color: white;
    transition: 0.2s cubic-bezier(0, 0, 1, 1) 100ms;
}
.settings a:last-child{
    margin-right: 98px;
}
.settings a:hover{
    background-color: rgba(255,255,255,0.3);
}
.edit_profile{
    margin-right: 20px;
}
.profile_settings {

}
.person_name{
    display: flex;
    align-items: center;
    margin-left: 133px;
}
.person_name span{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}
