.content_block_size{
    margin: 16px 6px 6px 6px;
    border-radius: 6px;
    background-color: white;
}
.posts_input{
    display: flex;
    align-items: center;
    padding: 13px 14px;
    justify-content: space-between;
}
.posts_input_left{
    display: flex;
    align-items: center;
}
.posts_img{
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
    padding: 0;
    margin: 0 10px 0 0;
}
.posts_btn_send{
    border: 0;
    border-radius: 5px;
    outline: none;
    width: 60px;
    height: 30px;
    background-color: #2787f5;
    color: white;
}
.posts_btn_send:hover{
    cursor: pointer;
}
.posts_textarea{
    border: 0;
    outline: none;
    border-radius: 5px;
    width: 300px;
    height: 30px;
}