.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    grid-area: h;
}
.header p{
    margin: 0;
}
.header_logo{
    background-color: #2787f5;
    padding: 7px;
    margin-left: 5px !important;
    border-radius: 7px;
    display: flex;
    color: white;
    font-size: 22px;
    font-weight: bold;
    align-items: center;
}
.header_logo:hover{
    cursor: pointer;
}
.header_auth{
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 5px;
}
.header_auth:hover{
    background-color: #dfe6ed;
    cursor: pointer;
}
.auth_name{
    padding-right: 5px;
}
.auth_img{
    width: 32px;
    height: 32px;
    background-color: orange;
    border-radius: 50%;
}
.logOutMenu{
    position: absolute;
    margin-top: 72px;
    margin-left: 852.5px;
    width: 112.7px;
    height: 40px;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.logOutMenu:hover{
    background-color: cyan;
}




















/*
.header_top{
    background-color: red;
    grid-area: ht;
    display: flex;
    justify-content: flex-end;
    align-items: center;


}
.login_block{
    padding-right: 10px;
}
.login_block a{
    text-decoration: none;
    color: white;
}*/
