.nav_wrapper{
    grid-area: nw;
}
.nav_wrapper nav ul {
    padding: 1px;
}
.nav_wrapper nav ul li {
    list-style: none;
}
.nav_wrapper nav ul li a{
    text-decoration: none;
    font-size: 17px;
    display: flex;
    align-content: center;
    height: 100%;
    color: black;
    padding: 5px;
}
.nav_wrapper nav ul li a:hover{
    background-color: #dfe6ed;
    border: 0px solid #dfe6ed;
    border-radius: 5px;
}
.nav_icons{
    width: 18px;
    height: 18px;
    margin-right: 10px;
}