.data_contacts ul{
    margin: 0;
    padding: 0;
}
.data_contacts ul li {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas:
            "sp a";
    margin: 2px 0;
}
.data_contacts ul li span{
    grid-area: sp;
}
.data_contacts ul li a{
    grid-area: a;
}
.data_contacts_header{
    display: flex;
    margin: 20px 0 15px 0;
}
.data_contacts_header hr {
    width: 100%;
    margin-left: 2px;

}
.btn_editMode{
    color: white;
    background-color: #2787f5;
    border: 1px solid #2787f5;
    border-radius: 2px;
    width: 70px;
    height: 25px;
}
.btn_editMode:hover{
    cursor: pointer;
}