/*Page styles*/
html{
    background-color: #edeef0;
    height: 100%;
}

.container{
    width: 965px;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 7vh auto;
    grid-template-areas:
            "h h"
            "nw ht";
}









































/*body li{
    list-style: none;

}*/

/*
.container{
    width: 965px;
    display: grid;
    grid-template-columns: 80px 17fr;
    grid-template-rows: 80px 8fr;
    grid-template-areas:
                    "nw ht"
                    "nw co";
    height: 100vh;
    margin: 0 auto;
}
*/




/*
button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 5px 5px;
}
.open_nav{
    vertical-align: bottom;
    display: flex;
    justify-content: center;
}*/



