.content_block_size{
    margin: 16px 6px 6px 6px;
    border-radius: 6px;
    background-color: red;
}

.people_item hr{
    margin: 0;
    padding: 0;
    grid-area: pit;
}
.people_item{
    background-color: white;
    box-sizing: revert;
}
.people_item_content{
    padding: 5px 0;
    display: grid;
    grid-template-columns: 1fr 3.3fr 1fr;
    grid-template-areas:
            "pi pia pib";
}
.people_item_img_div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.people_item_img{
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
    grid-area: pi;

}
.people_item_img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #edeef0;
    border: 0px solid white;
    background-position: center;
    background-repeat: no-repeat;
}
.people_item_right{

}
.people_item_name{
    grid-area: pia;
    margin-top: 10px;
    text-overflow: clip;
}
.people_item_btn_div{
    grid-area: pib;
    display: flex;
    justify-content: center;
}
.people_item_btn_disable{
    color: black;
    height: 25px;
    width: 90px;
    border-radius: 5px;
    border: 0;
    outline: none;
    margin-top: 10px;
    z-index: 2;
}
.people_item_btn{
    background-color: #2787f5;
    height: 25px;
    width: 90px;
    border-radius: 2px;
    border: 0;
    outline: none;
    margin-top: 10px;
    color: white;
    z-index: 2;
}
.people_item_btn{
    cursor: pointer;
}